.like_style {
  width: 30px;
  height: 30px;
  background: rgba(84, 123, 248, 0.227);
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
}