$base-color-blue: #566CD6;
$background-color-principal: #F2F4FF;
$background-color-secundary: #FBFCFF;
$color-text: #40415F;
$shadows:0 2px 6px rgba(0, 0, 255, 0.15);
$font-text:Impact,
Haettenschweiler,
'Arial Narrow Bold',
sans-serif;
$small: 450px;
$small_v2:680px;
$medium: 900px;
$medium_v2:850px;
$small-height:640px;
$medium-height:870px;
$medium-height_v2:800px;
$max-height:1370px;
$max-width:1360px;
$placeholder-color:rgb(64, 65, 94);